<div class="card-body shadow-sm l-g">
  <div class="form">
    <div class="col-md-5 mb-3">
      <label >Subject</label>
      <input type="text" class="form-control " id="subject name" placeholder="Subject Name" required>
      <div class="invalid-feedback">
        Please provide a valid city.
      </div>
    </div>

    <div class="col-md-5 mb-3">
      <label >Discription</label>
      <input type="text" class="form-control " id="discriptin" placeholder="Discription" required>
      <div class="invalid-feedback">
        Please provide a valid city.
      </div>
    </div>




  </div>
</div>
