<header id="header">
  <div class="container-fluid">

    <div id="logo" class="pull-left">
      <h1><a href="#intro" >StHub</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="#intro"><img src="img/logo.png" alt="" title="" /></a>-->
    </div>

    <nav id="nav-menu-container">
      <ul class="nav-menu">
        <li class="menu-active"><a href="">Home</a></li>
        <li><a routerLink="/loginpage/teacher/tsignup" routerLinkActive="active" href="#services">teacher</a></li>
        <li><a routerLink="/loginpage/parent/psignup" routerLinkActive="active" href="#services">parent</a></li>


      </ul>
    </nav><!-- #nav-menu-container -->
  </div>
</header>
