<section id="contact" class="section-bg wow fadeInDown">
  <div class="col-sm">


    <button routerLink="psignin" routerLinkActive="active"  type="button" class="btn btn-success text-center">SignIn</button>
    &nbsp;
    <button routerLink="psignup" routerLinkActive="active"  type="button" class="btn btn-success text-center">SignUp</button>
    &nbsp;
    <button routerLink="/home" routerLinkActive="active"  type="button" class="btn btn-danger text-center">Cansel</button>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-sm">

      </div>

      <router-outlet></router-outlet>


      <div class="col-sm">

      </div>
    </div>
  </div>

</section>
