<div class=" card-body shadow p-3 mb-5 bg-light rounded section-bg wow fadeIn  ">

  <div class="card-body ">

  <form class="form-inline float-right mt-3 ">

    <input class="form-control form-control-sm " [(ngModel)]="seaechNumber" name="textNumber" type="search" placeholder="Search Team Id" aria-label="Search">


    <button class="btn btn-outline-success my-2 my-sm-0 form-control-sm fa fa-search" [(ngModel)]="searchbar" (click)="searchTeam()" type="submit"></button>



  </form>
    <span class="badge badge-info">Info</span>
  <h4 class="font-weight-bold">Create New Team</h4>

  <form #TeamForm="ngForm" (submit)="saveTeam()">
    <div class="form-row">
      <div class="col-md-3 mb-3 ">
        <label>Username</label>
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text form-control-sm" id="inputGroupPrepend3">@</span>
          </div>

          <input [disabled]="true" type="text" name="teacherName" [(ngModel)]="teacher.name" class="form-control form-control-sm "
                 id="validationServerUsername "
                 placeholder="{{teacher.name}}" aria-describedby="inputGroupPrepend3" required>
          <div class="invalid-feedback">
            Please choose a username.
          </div>
        </div>
      </div>
    </div>

    <div class="form">
      <div class="col-md-5 mb-3">
        <label>Subject</label>

        <input type="text" class="form-control form-control-sm" name="subject" id="subject name" [(ngModel)]="selectedTeam.subject"
               placeholder="Subject Name" required>
        <div class="invalid-feedback">
          Please provide a valid city.
        </div>
      </div>

      <div class="col-md-5 mb-3">
        <label>Discription</label>
        <input type="text" class="form-control form-control-sm " name="discription" [(ngModel)]="selectedTeam.discription"
               id="discriptin" placeholder="Discription" required>
        <div class="invalid-feedback">
          Please provide a valid city.
        </div>
      </div>


    </div>
    <div class="form-group">

<!--
      <div class="form-check">
        <input class="form-check-input " name="private" [(ngModel)]="selectedTeam.visibles" type="checkbox" value=""
               id="invalidCheck3" >
        <label class="form-check-label" for="invalidCheck3">
          private group
        </label>

      </div>-->


    </div>
    <button type="submit" class="btn btn-success shadow p-3 mb-5 btn-sm ">Save Team</button> &nbsp;

    <button type="button" routerLink="student-manage" (click)="backbutton=true" routerLinkActive="active" [disabled]="!selectedTeam.teamid" class="btn btn-info shadow p-3 mb-5 btn-sm  ">Add New Team Member</button> &nbsp;

    <button type="button" (click)="claerform()" [hidden]="!backbutton" class="btn btn-info shadow p-3 mb-5 btn-sm fa fa-arrow-left "></button> &nbsp;




  </form>

    <router-outlet></router-outlet>

  <br>
  <h3 class="font-weight-bold">All Team</h3>

  <div class="col-md-9 col-12">
    <table id="tblCustomers" class="table table-bordered table-hover">
      <thead>
      <tr>
        <th> ID</th>
        <th> Subject</th>
        <th> Discription</th>
       <!-- <th> Visibility</th>-->
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let team of teams | paginate: { itemsPerPage: 7, currentPage: p }"
          (click)="selectTeam(team)" [class.selected]="team==selectedTeam" class="table-light ">

        <td>{{team.teamid}}</td>
        <td>{{team.subject}}</td>
        <td>{{team.discription}}</td>
      <!--  <td>{{}}</td>-->  <!--team.visibles-->
        <td>
          <i (click)="deleteTeam(team)" class="deletebutton fa fa-trash-o fa-2x"></i>
        </td>
      </tr>
      </tbody>
      <tfoot>
      <tr>
        <td colspan="4">
          <pagination-controls (pageChange)="p = $event"></pagination-controls>
        </td>
      </tr>
      </tfoot>
    </table>
  </div>
</div>
</div>
