<section id="contact" class="styelsmaker card-body shadow-lg p-3 mb-5 bg-white rounded section-bg wow fadeInDown  ">
  <div class="col-sm">



  </div>

  <div class="container">

    <div class="row">



      <div class="col-sm-3">




      </div>

     <div class=" card-body text-center">


       <div class="btn-group float-right mt-2" role="group">
         <a class="btn btn-outline-success btn-md btn-success"  routerLink="tsignin" routerLinkActive="active"   href="#">
           <i class="fa fa-sign-in" aria-hidden="true"></i> Log in</a>

         <a class="btn btn-outline-info btn-md"  routerLink="tsignup" routerLinkActive="active"  href="#">
           <i class="fa fa-plus" aria-hidden="true"></i> Create New Account</a>

         <a class="btn btn-outline-danger btn-md"  routerLink="/home"  href="#">
           <i class="fa fa-close" aria-hidden="true"></i> Close</a>

       </div>




       <router-outlet></router-outlet>
     </div>



      <div class="col-sm">

      </div>
    </div>
  </div>

</section>
