
<!--





<a routerLink="/admin/asignin" routerLinkActive="active" href="">admin Signin</a>
<br>
<a routerLink="/admin/asignup" routerLinkActive="active" href="">admin signup</a>

<br>
<a routerLink="/home" routerLinkActive="active" href="">admin signup</a>

<router-outlet></router-outlet>
-->
<button id='SignIn'>Sign in</button>
<div class='login card-body'>
  <div class="col-sm">
    <div *ngIf="failed" class="alert alert-danger">
      error
    </div>


    <form #frmLogin="ngForm" action="" method="post">

      <div class='login'>
        <button class='close' id='close'></button>
        <div class='top'>
          <h2>Login&nbsp;to&nbsp;admin&nbsp;area</h2>
        </div>
        <div class='user'>
          <input [(ngModel)]="admin.username" name='txtUserName' id="inputusername  " placeholder='Secret codes'
                 type='text'>
        </div>
        <div class='pw'>
          <input [(ngModel)]="admin.password" id="inputpassword" name='txtpassword' placeholder='Password'
                 type='password'>
        </div>

        <br>
        <div class="container ">

          <button routerLink="/dashboard" routerLinkActive="active" type="button" (click)="login()"
                  class="btn btn-outline-success col-md-12">Sign in
          </button>
        </div>
        <br>
      </div>

    </form>
  </div>
</div>
