<div class="section-header">
  <br>
  <br>
  <br>
  <h3 class="text-center">SIGN UP</h3>
</div>


<form #frmTeacher="ngForm" (submit)="SignUpTeacher()">

  <div class="col-sm">

    <div class="form-group  ">
      <input name="name" type="username" class="form-control" [(ngModel)]="teacher.name"  id="name" placeholder="Username">
    </div>

    <div class="form-group  ">
      <input name="email" type="email" class="form-control" [(ngModel)]="teacher.email" id="email" placeholder=" Email">
    </div>

    <div class="form-group  ">
      <input name="address" type="text" class="form-control" [(ngModel)]="teacher.address" id="address" placeholder="Address">
    </div>

    <div class="form-group  ">
      <input name="contact" type="number" class="form-control" [(ngModel)]="teacher.contact" id="contactnumber" placeholder="Contact">
    </div>

    <div class="form-group  ">
      <input name="scode" type="password" class="form-control" [(ngModel)]="teacher.scode" id="password" placeholder="New Password">
    </div>

    <div class="form-group  ">
      <input name="scode" type="password" class="form-control" id="repassword" placeholder="Confirm Password">
    </div>

    <div class="form-group  ">
      <button type="submit" class="btn btn-outline-success float-right mt-2">Sing Up</button>
    </div>

  </div>
</form>
