<div class=" card-body shadow p-3 mb-5 bg-light rounded section-bg wow fadeIn  ">

  <div class="card-body ">
    <button routerLink="/main/updatestudent" routerLinkActive="active" type="button"  class="btn btn-info shadow p-3 mb-5 btn-sm fa fa-arrow-left "></button> &nbsp;
    <br>
    <form class="form-inline float-right mt-3 ">

      <input class="form-control form-control-sm " [(ngModel)]="seaechNumber" name="textNumber" type="search"
             placeholder="Search" aria-label="Search">


      <button class="btn btn-outline-success my-2 my-sm-0 form-control-sm fa fa-search" [(ngModel)]="searchbar" (click)="searchTeam()" type="submit"></button>


    </form>
    <span class="badge badge-info">Info</span>
    <h4 class="font-weight-bold">Manage Record</h4>
    <form #frmRecordBook="ngForm" (ngSubmit)="saveRecordBook()">





      <span class="badge badge-primary">Team-{{teamid}}</span>
      <div class="card-body">

        <table id="tblStudent" class="table table-hover">
          <thead>
          <tr>
            <th scope="col"> Name</th>
            <th scope="col"> Email</th>
            <th scope="col"> address</th>
            <th scope="col">Contact</th>


          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let student of studentsbyTeam | paginate: { itemsPerPage: 10, currentPage: p } "
              class="table-light "  (click)="selectStudents(student)"  [class.selected]="student==student" >
            <td>{{student.studentname}}</td>
            <td>{{student.email}}</td>
            <td>{{student.address}}</td>
            <td>{{student.contact}}</td>

          </tr>
          </tbody>
          <tfoot>
          <tr>
            <td colspan="4">
              <pagination-controls (pageChange)="p = $event"></pagination-controls>
            </td>
          </tr>
          </tfoot>
        </table>

      </div>
      <form  #recordForm="ngForm">

      <div class="form-group row ">
        <label class="col-sm-2 col-form-label col-form-label-sm"><strong>Student Name</strong></label>
        <div class="col-sm-10">

          <input type="text" required #name="ngModel" pattern="^[A-Za-z0-9]+(?:[ _-][A-Za-z0-9]+)*$"
                 [class.is-invalid]="name.invalid && name.touched" class="form-control form-control-sm "
                 name="texSt" [(ngModel)]="selectedRecord.studentName" placeholder="enter student name">
          <small class="text-danger" [class.d-none]="name.valid || name.untouched">Enter Valid student name</small>
        </div>
      </div>
      <div class="form-group row ">
        <label class="col-sm-2 col-form-label col-form-label-sm"><strong>Select type</strong></label>
        <div class="col-sm-10">

          <select name="typeofexams" [(ngModel)]="selectedRecord.teatName" class="custom-select custom-select-sm " id="inputGroupSelect01">
            <option selected>other</option>
            <option value="Viva">Viva</option>
            <option value="Exam">Exam</option>
            <option value="class practical">class practical</option>
            <option value="test">test</option>
          </select>
        </div>

      </div>
      <div class="form-group row ">
        <label class="col-sm-2 col-form-label col-form-label-sm"><strong>other Discription</strong></label>
        <div class="col-sm-10">
          <!--^[A-Za-z0-9]+(?:[ _-][A-Za-z0-9]+)*$-->
          <input type="text" required #discription="ngModel" pattern=""
                 [class.is-invalid]="discription.invalid && discription.touched" class="form-control form-control-sm "
                 name="texStud" [(ngModel)]="selectedRecord.teatName" placeholder="other discription">
          <small class="text-danger" [class.d-none]="discription.valid || name.untouched">Please Select exam Type </small>
        </div>
      </div>


     <!-- <div class="form-group row ">
        <label class="col-sm-2 col-form-label col-form-label-sm"><strong>Select marks range</strong></label>
        <div class="col-sm-10">

          <select  name="markstypes" [(ngModel)]="selectedRecord.marks" class="custom-select custom-select-sm " id="inputGroupSel">
            <option selected>Choose...</option>
            <option value="100">100/</option>
            <option value="200">200/</option>
            <option value="400">400/</option>
            <option value="1000">1000/</option>
          </select>
        </div>

      </div>-->

      <div class="form-group row ">
        <label class="col-sm-2 col-form-label col-form-label-sm"><strong>Exam Marks</strong></label>
        <div class="col-sm-10">

          <input type="numberasds" [maxlength]="3" required #marks="ngModel" pattern=""
                 [class.is-invalid]="marks.invalid && marks.touched" class="form-control form-control-sm "
                 name="texStudentNa" [(ngModel)]="selectedRecord.marks" placeholder="enter marks">
          <small class="text-danger" [class.d-none]="marks.valid || marks.untouched">Enter valid marks</small>
        </div>
      </div>


      <div class="form-group row ">

        <div class="col-sm-4 row">
          <button type="button"
                  class="btn btn-outline-success shadow p-3 mb-5 btn-sm float-xl-left fa fa-arrow-left "> &nbsp;
          </button> &nbsp;
          <button type="button"
                  class="btn btn-outline-success shadow p-3 mb-5 btn-sm float-xl-left fa fa-arrow-right "> &nbsp;
          </button> &nbsp;
        </div>

        <div class="col-sm-4">


        </div>

        <div class="col-sm-4">

          <button  [disabled]="recordForm.invalid" type="submit"
                  class="btn btn-success shadow p-3 mb-5 btn-sm float-xl-right fa fa-hdd-o "> save Record
          </button>
        </div>
      </div>
      </form>
      <div [hidden]="!alert3" class="alert alert-dismissible alert-success wow fadeInDown">
        <button (click)="hiddin()"    type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>Well done!</strong> You successfully Added <a  class="alert-link"></a>.
      </div>

    </form>


  </div>
</div>
