<div class=" card-body shadow p-3 mb-5 bg-light rounded section-bg wow fadeIn  ">
  <button routerLink="/main/updatestudent" routerLinkActive="active" type="button"  class="btn btn-info shadow p-3 mb-5 btn-sm fa fa-arrow-left "></button> &nbsp;
  <div class="card-body ">


    <form #studentForm="ngForm" >
      <span class="badge badge-light">All</span>
      <h4 class="font-weight-bold">Record book Details</h4>


      <div class="col">

        <div class="form-group row">


          <div class="input-group mb-3">

            <input type="text"  [(ngModel)]="studentName" name="searchStudentName"  class="form-control form-control-sm" placeholder="Search Student Name">
            <div class="input-group-append">
              <a (click)="seacherStduent()" >  <span class="input-group-text form-control-sm fa fa-search"></span></a>
            </div>
          </div>
        </div>
      </div>

      <div class="table-sm">


        <table id="tblStudent" class="table table-hover table-sm">
          <thead>
          <tr>

            <th scope="col"> Date</th>
            <th scope="col"> Discription</th>
            <th scope="col">Marks</th>

          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let records of allrecords | paginate: { itemsPerPage: 10, currentPage: p } "
              class="table-light  "  (click)="selectRecord(records)" [class.selected]="records==selectedStudenRecord" >

            <td>{{records.date}}</td>
            <td>{{records.teatName}}</td>
            <td>{{records.marks}}</td>

          </tr>
          </tbody>
          <tfoot>
          <tr>
            <td colspan="4">
              <pagination-controls (pageChange)="p = $event"></pagination-controls>
            </td>
          </tr>
          </tfoot>
        </table>

      </div>

    </form>
  </div>
</div>
